/*Google fonts*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Allerta', sans-serif;*/

body {
  font-family: 'Allerta', sans-serif;
}

.titulo {
  font-family: 'Montserrat', sans-serif;    /*Propiedad agregado al titulo*/
  font-size: 70px;
}

.title-a {
  font-size: 24px;
}
.title-b {
  font-size: 50px;
}

.guitarras {
  color: #1F313C;
}

.guitarras h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.portada {
  /*background: rgba(12, 12, 12, 0.5);  rgb: color combinado de rojo, verde, azul.   rgba: color combinado con transparencia*/
  background-image: url('../images/background.png');
  color: white;     /*Todos los textos se les asigna el color*/
}

.menu {
  font-size: 24px
}
