body{
  background: peru;
}

/*tipo de selector{propiedad: valor;propiedad2: valor;}*/

* {                       /* el asterisco * se utiliza para denotar un selector universal */
  border: 1px solid red;
  margin: 10px;
}

header{           /*selector de etiqueta*/
  background: blue;
}

section{           /*selector de etiqueta*/
  background: purple;
}

/*selector descendente*/

article h3{
  color: green;
}

/*selectores de clase*/
/*para los selectores de clase se usa el . al principio*/

.title-a{
  background: yellow;
}

.title-b{
  background: salmon;
}

/*selector de id*/
/*para los selectores de id se usa el # al principio*/

#header{
  border: 3px solid black;
}

#portada{
  border: 3px solid orange;
}

#guitarras{
  border: 3px solid brown;
}
